@page "/questions/overview"
@using BlzrQuiz.ServiceLayer
@using BlzrQuiz.Data.EfClasses
@inject QuizService QService
@inject IUriHelper urihelper;

<h3>Questions</h3>
@if (Questions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Quiz</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Questions)
{
                <tr>
                    <td>@question.QuestionId</td>
                    <td>@question.Text</td>
                    <td>@question.Certification.Name</td>
                    <td>
                        
                        <button class="btn btn-primary" @onclick="ToEdit">Edit</button>
                        <button class="btn btn-primary"   @onclick="@DeleteQuestion(question)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h3>Create</h3>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <EditForm Model="@Question" OnValidSubmit="@AddNewQuestion">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label for="classification">Primary Classification: </label>
            <InputSelect T="int" id="quiz" @bind-Value="@Question.CertificationId">
                <option value="">Select Quiz ...</option>
                @foreach (var cert in Certs)
                {
                    <option value="@cert.CertificationId">@cert.Name</option>
                }
            </InputSelect>
            <InputText id="name" @bind-Value="@Question.Text" />

            <button type="submit">Submit</button>
        </EditForm>
    </div>
</div>




@code {
    public IEnumerable<Question> Questions;
    public IEnumerable<Certification> Certs;
    public Question Question { get; set; } = new Question();

    public void OnClick()
    {
        urihelper.NavigateTo("/questions/" + Question.QuestionId);
    }
    protected override async Task OnInitializedAsync()
    {
        Questions = await QService.GetQuestions();
        Certs = await QService.GetCertifications();
    }

    async Task AddNewQuestion()
    {
        QService.AddQuestion(Question);
        Question = Question.Reset();
        Questions = await QService.GetQuestions();
    }

    async Task DeleteQuestion(Question entity)
    {
        QService.DeleteQuestion(entity);
        Questions = await QService.GetQuestions();
    }

    //void AddCertId()
    //{
    //    if (!string.IsNullOrEmpty(certId))
    //    {
    //        question.CertificationId = int.TryParse(certId, out int result) ? result : 0;
    //    }
    //}
}

