@page "/quiz/index"
@attribute [Authorize]
@using BlzrQuiz.ServiceLayer
@using  EF = BlzrQuiz.Data.Entities
@inject QuizService QService

<style>
    #qtable tr td:nth-child(3) {
        width: 10%;
    }
    #create-quiz-row {
        margin-top: 20px;
    }
</style>

<h3>Quizzes</h3>
@if (Quizzes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        @foreach (EF.Quiz quiz in Quizzes)
        {
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">@quiz.Certification.Name</div>
                    <div class="card-body">
                        <h5 class="card-title">ID: #@quiz.QuizId</h5>
                        <p class="card-text">Cert: @quiz.Certification.Description</p>
                        <p class="card-text">Created: @quiz.DateCreated</p>
                        <button type="button" @onclick="@(() => CreateUserQuiz(quiz.QuizId))" class="btn btn-primary" disabled="@ButtonDisabled[quiz.QuizId]">@ButtonsText[quiz.QuizId]</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="create-quiz-row" class="row">
        <button id="btn-quiz-creator" type="button" class="btn btn-primary" @onclick="CreateNewQuiz">Create New Quiz</button>
    </div>
}
