@page "/questions/overview"
@using BlzrQuiz.ServiceLayer
@using BlzrQuiz.Data.EfClasses
@inject QuizService QService
@inject IUriHelper urihelper;

<h3>Questions</h3>
@if (questions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Quiz</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in questions)
            {
                <tr>
                    <td>@question.QuestionId</td>
                    <td>@question.Text</td>
                    <td>@question.Quiz.Name</td>
                    <td>
                        <button class="btn btn-primary" @onclick="@(e => urihelper.NavigateTo("/questions/"+question.QuestionId))">Edit</button>
                        <button class="btn btn-primary" @onclick="@(e=> DeleteQuestion(question))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h3>Create</h3>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <EditForm Model="@question" OnValidSubmit="@AddNewQuestion">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label for="classification">Primary Classification: </label>
            <InputSelect id="quiz" @bind-Value="@quizId">
                <option value="">Select Quiz ...</option>
                @foreach (var quiz in quizes)
                {
                    <option value="@quiz.QuizId">@quiz.Name</option>
                }
            </InputSelect>
            <InputText id="name" @bind-Value="@question.Text" />

            <button type="submit">Submit</button>
        </EditForm>
    </div>
</div>




@code {
    private string quizId;
    IEnumerable<Question> questions;
    IEnumerable<Quiz> quizes;
    private Question question { get; set; } = new Question();

    protected override async Task OnInitAsync()
    {
        questions = await QService.GetQuestions();
        quizes = await QService.GetQuizes();
    }

    async Task AddNewQuestion()
    {
        AddQuizId();
        QService.AddQuestion(question);
        question = question.Reset();
        questions = await QService.GetQuestions();
    }

    async Task DeleteQuestion(Question entity)
    {
        QService.DeleteQuestion(entity);
        questions = await QService.GetQuestions();
    }

    void AddQuizId()
    {
        if (!string.IsNullOrEmpty(quizId))
        {
            question.QuizId = int.TryParse(quizId, out int result) ? result : 0;
        }
    }
}

