@page "/quizes/quiz"
@using BlzrQuiz.ServiceLayer
@using BlzrQuiz.Data.EfClasses
@inject QuizService QService
@inject IUriHelper urihelper;
<h3>Quiz</h3>
<div class="container">
    @if (Question == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="blockquote">@Question.Text</div>

        @foreach (var answer in Question.Answers)
        {
            <button type="button" @onclick="AddToAnswers" name="@($"option-{answer.AnswerId}")" id="@($"answer-{answerCount++}")" value="@answer.AnswerId" class="btn btn-primary btn-lg btn-block">@answer.Text</button>

        }
        @*<button onclick="@(() => Console.WriteLine("Button Clicked!");)">
            Press Me
        </button>*@
    }
</div>

@code { 
    byte[] QuizAnswers = new byte[50];
    int answerCount = 1;
    IEnumerable<Question> QuestionList { get; set; } = new List<Question>();
    public Question Question { get; set; }
    public QuizQuestion ThisQuestion { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Question = await QService.GetQuestion();
        }
        catch (InvalidOperationException)
        {
            Question = new Question { Answers = new List<Answer>() };
        }
    }
    void SubmitQuizQuestion()
    {

    }
   void AddToAnswers() { }
}
