@page "/questions/index"
@attribute [Authorize]
@using BlzrQuiz.ServiceLayer
@using  BlzrQuiz.Data.Entities
@inject QuizService QService
@inject NavigationManager NavManager
<style>
    #qtable tr td:nth-child(3) {
        width: 10%;
    }
</style>

<h3>Questions</h3>
@if (QuestionList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped" id="qtable">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Text</th>
                <th scope="col">Quiz</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in QuestionList)
            {
                <tr>
                    <th scope="row">@question.QuestionId</th>
                    <td>@question.Text</td>
                    <td>@question.Certification.Name</td>
                    <td>
                        <button class="btn btn-primary" @onclick="@(e => NavManager.NavigateTo("/questions/"+question.QuestionId))">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<h3>Create</h3>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <EditForm Model="@Question" OnValidSubmit="@AddNewQuestion">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label for="classification">Primary Classification: </label>
            <InputText id="name" @bind-Value="@Question.Text" />

            <button type="submit">Submit</button>
        </EditForm>
    </div>
</div>

@code {
    IEnumerable<Question> QuestionList;
    IEnumerable<Certification> Certifications;
    public Question Question { get; set; } = new Question();

    protected override async Task OnInitializedAsync()
    {
        QuestionList = await QService.GetQuestions();
        Certifications = await QService.GetCertifications();
    }

    async Task AddNewQuestion()
    {
        QService.AddQuestion(Question);
        Question = new Question();
        QuestionList = await QService.GetQuestions();
    }

    async Task DeleteQuestion(Question entity)
    {
        QService.DeleteQuestion(entity);
        QuestionList = await QService.GetQuestions();
    }
}