@page "/questions/overview"
@using BlzrQuiz.ServiceLayer
@using  BlzrQuiz.Data.Entities
@inject QuizService _QService

<h3>Questions</h3>
@if (QuestionList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Quiz</th>
                @*<th>Actions</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var question in QuestionList)
            {
                <tr>
                    <td>@question.QuestionId</td>
                    <td>@question.Text</td>
                    @*<td>@question.Certification.Name</td>*@
                    @*<td>
                            <button class="btn btn-primary" @onclick="@(e => urihelper.NavigateTo("/questions/"+question.QuestionId))">Edit</button>
                            <button class="btn btn-primary" @onclick="@(e=> DeleteQuestion(question))">Delete</button>
                        </td>*@
                </tr>
            }
        </tbody>
    </table>
}

<h3>Create</h3>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <EditForm Model="@Question" OnValidSubmit="@AddNewQuestion">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <label for="classification">Primary Classification: </label>
            @*<InputSelectOfType TValue="int" id="certification-id" @bind-Value="@Certifications.CertificationId">
                <option value="0">Select Certification ...</option>
                @foreach (var certification in Certifications)
                {
                    <option value="@certification.CertificationId">@certification.Name</option>
                }
                </InputSelectOfType>*@
            <InputText id="name" @bind-Value="@Question.Text" />

            <button type="submit">Submit</button>
        </EditForm>
    </div>
</div>

@code {
    IEnumerable<Question> QuestionList;
    IEnumerable<Certification> Certifications;
    public Question Question { get; set; } = new Question();

    protected override async Task OnInitializedAsync()
    {
        QuestionList = await _QService.GetQuestions();
        Certifications = await _QService.GetCertifications();
    }

    async Task AddNewQuestion()
    {
        _QService.AddQuestion(Question);
        Question = new Question();
        QuestionList = await _QService.GetQuestions();
    }

    async Task DeleteQuestion(Question entity)
    {
        _QService.DeleteQuestion(entity);
        QuestionList = await _QService.GetQuestions();
    }
}