
<div class="row col-lg-12">
    <div style="height: 100px;" class="col-12">@ThisQuestion.Question.ToMarkup()</div>
</div>
<div class="row col-lg-12">
    @for (var i = 0; i < ThisQuestion.Question.Answers.Count(); i++)
    {
        var answer = ThisQuestion.Question.Answers.ElementAt(i);
        <div class="col-lg-12">
            <button type="button" @onclick="@(e => UpdateAnswers(answer.AnswerId) )" name="@($"option-{ answer.AnswerId}")" id="@($"quiz-question-{ThisQuestion.QuestionNumber}-answer-{i}")" value="@answer.AnswerId" class="@ButtonClasses[answer.AnswerId]">@answer.Text</button>
        </div>
    }
</div>

